body { font-family: sans-serif;}
h3 { 
  color: #f2f2f2;
  align: center;
  font-size: 40px;
  text-align: center;
}
p { color: #f2f2f2;}

.nav-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar a {
  float: left;
  color: grey;
  background-color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav-bar a:hover {
  color: white;
}

.nav-bar a.active {
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
