body { 
  font-family: "sans-serif";
  margin:0px;
}
h3 { 
  color: #f2f2f2;
  align: center;
  font-size: 40px;
  text-align: center;
}
p { 
  color: #f2f2f2;
  text-align:center;
}
.nav-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-bar a {
  float: left;
  color: grey;
  background-color: black;
  text-align: center;
  width: 16.6%;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: "sans-serif";
}

.nav-bar a:hover {
  color: white;
}

.nav-bar a.active {
  color: white;
}
img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  background-color: #003399; /* Dark Blue */
  border: none;
  color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  cursor: pointer;
}
