body { 
  font-family: "sans-serif";
  margin:0px;
}
h3 { 
  color: #f2f2f2;
  align: center;
  font-size: 40px;
  text-align: center;
}
p { 
  color: #f2f2f2;
  text-align:center;
	font-size: 20px;	
}
.nav-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar a {
  float: left;
  color: grey;
  background-color: black;
  text-align: center;
  width: 16.6%;
  padding: 40px 30px;
  text-decoration: none;
  font-size: 19px;
}

.nav-bar a:hover {
  color: white;
}

.nav-bar a.active {
  color: white;
}

.album {
	display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
	width: auto;
	max-width: 1200px;
	max-height: 1200px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
	height: auto;
	width: auto;
	max-width: 500px;
	max-height: 500px;
}

.button {
  background-color: #003399; /* Dark Blue */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 12px
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 3px 2px;
  cursor: pointer;
}

.container {
	height: 40px;
}

